/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/

html {
  height: 100%;
  background-image: linear-gradient(#134d71, #78a7c6, #f7e4bf);
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  text-align: center;
}

/* body {
  min-height: 100%;
} */

h1 {
    color: #ffffff;
    margin: auto;
    width: 50%;
    border: 1px;
    padding: 20px;
    /* display: flex;
    justify-content: space-between; */
}

h4 {
  color: #ffffff;
  /* width: 50%;
  border: 1px;*/
  padding-top: 50px;
  padding-bottom: 10px;
  margin: auto;
}

.hidden {
  display: none!important;
}

/* section {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  width: 300px;
  padding: 100px;
  border-radius: 10px;
  margin: 10px;

} */

button {
  background-color: #134d71;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  border-color: #134d71;
  margin-top: 30px;
}

input {
  color: #000000;
  font-size: italic;
  padding-right: 20px;
  ;
}

/*.button-type {
display: flex;
  justify-content: space-between;
  align-items: baseline;
} */
 input[type="radio"]{
  /* display: flex;
  align-items: center;
  flex-direction: row; */
  margin: 0 20px 0 30px;

  position: relative;
  hover input ~ .checkmark {
  background-color: #000000;}
}


.error-message {
  color: red;
  style: italic;
}

/* .button-type {
  style: italic;
} */

.separatorSpace {
  padding-top: 75px;
}

section {
  background-color: #ffffff;
  radius: 100px;
  width: 60%;
  padding: 15px 50px;
  margin: auto;
  border-radius: 10px;
}

section.message-selection {
  width: 40%;
  padding:
}

button {
  position: relative;
  padding: 5px 25px;
  border-radius: 4px;
  margin: 10px;
}

svg {
  height: 90px;
  width: 60px;
  padding: 10px 25px;

}
